{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-clipboard-list fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% for group in projects.assignments %}
  <div class="item">

    <div class="meta">

      <span class="project-title">
        {% if project.link %}
        <a href="{{ project.link }}" target="_blank">{{ group.title }}</a>
        {% else %}
        {{ project.title }}
        {% endif %}
      </span>

      {% if group.items %}
        {% for it in group.items %}
        <!-- Education과 동일한 upper-row 구조: 좌 텍스트 / 우 기간 -->
        <div class="upper-row">
          <div class="project-degree">{{ it.text }}</div>
          {% if it.time %}<div class="time">{{ it.time }}</div>{% endif %}
        </div>

        {% if it.details %}
          <div class="university" style="margin-bottom: 0px;">
            {{ it.details | markdownify | replace: '<p>','' | replace: '</p>','' }}
          </div>
        {% endif %}
        {% endfor %}
      {% endif %}

    </div><!--//meta-->

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
